
body{
   margin-top: 7%;

}
#map {
     height: 350px;
     margin-bottom: 8%;
 }

.head{
    text-align: center;
    font-size: 40px;
}
.form{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
}
.image{
    margin: auto;
    height:550px ;
    width: 500px;
}
.img{
    margin: 10px;
    height:550px ;
    width: 500px;
   margin: auto;
   border: 2px solid transparent;
   border-radius: 10px 10px;
}
.contact{
    margin: auto;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 50px;
    margin: 10px;
    padding: 10px;
    height: 550px;
    width: 500px;
    box-shadow: 2px 2px 5px ;
}
input{
    height: 40px;
    width: 90%;
    margin: 10px;
    border-radius: 10px 10px;
    background-color: rgb(245,245,245);
    padding: 10px;
    outline: none;
    border: none;
}
.message{
    margin: 10px;
    height:150px;
    width: 300px;
    border-radius: 10px 10px;
    background-color: rgb(245,245,245);
     padding: 10px;
     overflow: auto;
     outline: none;
     border: none;
}

.btn{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    height: 40px;
    background-color:blue ;
    border: none;
    border-radius: 10px 10px;
    color: white;
}
.btn:hover{
    background-color: transparent;
    border:2px solid blue;
    color: blue;
    padding: 10px;
    transition: background-color 0.5s ease-in-out;

}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.location{
    width: 300px;
    height: 300px;
    text-align: center;
}
.location p{
    font-size: 20px;
    font-weight: 700;
}
.title{
    color: rgb(129,184,208);
    font-size: 30px;
}
@media (min-width:484px) and (max-width:768px){
    .info{
       display: grid;
      place-items: center;
       grid-template-columns: 1fr;
        gap: 30px;
    }
    .form{
        display: grid;
      place-items: center;
        padding: 20px;
     }
    .image{
        height:550px ;
        width: 400px;
    }
    .img{
        margin: 10px;
        height:550px ;
        width: 400px;
       margin: auto;
       border: 2px solid transparent;
       border-radius: 10px 10px;
    }
    .contact{
        margin: auto;
        margin: 10px;
        margin-top: 50px;
        height: 550px;
        width: 400px;
        overflow: hidden;
        box-shadow: 2px 2px 5px ;
        padding: 10px;
    }
    .message{
        width:300px;
        height: 150px;
        margin: 10px;
        border-radius: 10px 10px;
        background-color: rgb(245,245,245);
         border: none;
    }
}


@media (min-width:321px) and (max-width:483px){
    .info{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
         gap: 30px;
     }
     .form{
        display: grid;
        place-items: center;
        padding: 20px;
     }
    .image{
        margin: auto;
        height:500px ;
        width: 300px;
    }
    .img{
        height:550px ;
        width: 300px;
       border: 2px solid transparent;
       border-radius: 10px 10px;
    }
    .contact{
        margin: auto;
        margin-top: 50px;
        margin: 10px;
        height: 550px;
        width: 280px;
        box-shadow: 2px 2px 5px ;
        padding: 5px;
        overflow: hidden;
        padding: 10px;
    }
    input{
        height: 40px;
        width: 90%;
        margin: 10px;
        border-radius: 10px 10px;
        background-color: rgb(245,245,245);
        padding: 10px;
        outline: none;
        border: none;
    }
    .message{
        width:350px;
        height: 150px;
        margin: 10px;
        border-radius: 10px 10px;
        background-color: rgb(245,245,245);
         padding: 10px;
         border: none;
    }
}


@media (min-width:769px) and (max-width:1200px){
    .info{
       display: grid;
       place-items: center;
       grid-template-columns: 1fr;
        gap: 30px;
    }
    .form{
        display: grid;
        place-items: center;
        padding: 20px;
     }
    .image{
        margin: auto;
        height:550px ;
        width: 500px;
    }
    .contact{
        margin-top: 50px;
        margin: 10px;
        height: 550px;
        width: 500px;
        box-shadow: 2px 2px 5px ;
        overflow: hidden;
        padding: 5px;
        padding: 10px;
    }
    .img{
        margin: 10px;
        height:550px ;
        width: 500px;
       margin: auto;
       border: 2px solid transparent;
       border-radius: 10px 10px;
    }
    .message{
        width:300px;
        height: 150px;
        margin: 10px;
        border-radius: 10px 10px;
        background-color: rgb(245,245,245);
        resize: horizontal;
        overflow: auto;
         padding: 10px;
         border: none;
    }
}


/* @media (min-width:321px) and (max-width:768px){
    .info{
       display: grid;
       place-items: center;
       grid-template-columns: 1fr;
        gap: 30px;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .image{
        height:550px ;
        width: 400px;
    }
    .contact{
        margin: auto;
        margin-top: 50px;
        height: 500px;
        width: 400px;
        box-shadow: 2px 2px 5px ;
        padding: 10px;
    }
    .message{
        width:200px;
        height: 150px;
        margin: 10px;
        border-radius: 10px 10px;
        background-color: rgb(245,245,245);
        resize: horizontal;
        overflow: auto;
         padding: 10px;
         border: none;
    }
} */
